<table width=100%>
    <tr>
        <td>
            <a href="#" class="logo">
                <img src="/assets/images/logo.png" alt="">
            </a>
        </td>
        <td style="text-align: right;">
            <nav>
                <ul>
                    <li><a class="router-link active" [routerLink]="['/home']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                    <li><a class="router-link" [routerLink]="['/smart-furniture']" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Smart Furniture</a></li>
                    <li><a class="router-link" [routerLink]="['/contact-us']" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Contact Us</a></li>
                    <li><a class="sign-in" [routerLink]="['/sign in']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Sign in</a></li>
                </ul>
            </nav>
        </td>
        <td style="vertical-align: middle; text-align: center;">
            <a href="#" class="cart">
                <img src="/assets/icons/cart.png" alt="">
                <p class="number__cart">123</p>
            </a>
        </td>
    </tr>
</table>