table {
    z-index: 10;
    position: fixed;
    border-bottom: 1px solid gainsboro;
    background: white;
}
ul {
    list-style-type: none;
    margin-bottom: 0;
}
li {
    display: inline;
    padding: 0.275rem 0.75rem;
}
li a {
    text-decoration: none;
}
.logo img {
    height: 50px;
    object-fit: cover;
}
.router-link {
    color: rgba(0,0,0,.6);
    font-weight: 600;
}
.router-link:hover {
    color: rgba(0,0,0,.4);
}
.router-link.active {
    color: var(--global-color-bright-point);
}
.sign-in {
    color: white;
    background-color: var(--global-color-bright-point);
    border: 1px solid var(--global-color-bright-point);
    white-space: nowrap;
    padding: 0.275rem 0.75rem;
    border-radius: 0.25rem;
}
.cart {
    position: relative;
    padding: 0.35rem 0;
    padding-left: 0.8rem;
    /* border-left: 1px solid var(--global-color-bright-point); */
}
.cart img {
    height: 25px;
    object-fit: cover;
}
.number__cart {
    position: absolute;
    top: -2px;
    left: 2.2rem;
    color: white;
    background: #D94E3B;
    border-radius: 0.5rem;
    font-size: 0.6rem;
    min-width: 0.9rem;
    padding: 0 0.2rem;
}
.space {
    width: 100%;
    height: 50px;
}