<app-header></app-header>
<div class="hero">
    <h1><span>I'm a cool</span><br>Navigation</h1>
    <div class="mouse">
        <span></span>
    </div>

</div>

<div class=" wrap-content">
    <p class="sec01">Section 01</p>
    <p class="sec01">Section 01</p>
    <p class="sec01">Section 01</p>
    <p class="sec01">Section 01</p>
    <p class="sec01">Section 01</p>
    <p class="sec01">Section 01</p>
    <p class="sec01">Section 01</p>
    <p class="sec01">Section 01</p>
    <p class="sec01">Section 01</p>
</div>

<app-footer></app-footer>
