<header class="main_h">
    <div class="row d-flex align-content-center justify-content-between">
        <a class="logo text-danger" href="#"><img src="/assets/images/logo.jpg" alt=""></a>
        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li ><a class="router-link" [routerLink]="['/home']" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                <li><a class="router-link" [routerLink]="['/smart-furniture']" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">Smart Furniture</a></li>
                <li><a class="router-link" [routerLink]="['/blog']" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">Blog</a></li>
                <li><a class="router-link" [routerLink]="['/shop']" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">Cửa Hàng</a></li>
                <li><a class="router-link" [routerLink]="['/cart']" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">Giỏ hàng/Tài Khoản</a></li>

            </ul>
        </nav>

    </div> <!-- / row -->

</header>
