.wrap-content {
    background: #f9f9f9;
    padding: 20px 0;
}
.container-video {
    position: relative;
    width: calc(100% - 9.5rem);
    height: calc(100vh - 90px);
    margin-left: 4.75rem;
    background: #fff;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
    overflow: hidden;
}
video {
    width: 100%;
    height: inherit;
    object-fit: cover;
}