<app-header></app-header>
<div class="wrap-content">
    <div>
        <div class="col-sm-8">
            <a href="#" class="logo">
                <img src="/assets/images/logo.png" alt="">
            </a>
            <p class="introduce" 
            style="margin-left: 5rem; font-size: 3rem; margin-top: -2rem; color: rgba(0,0,0,.6);">This is video introduce.</p>
            <p  class="introduce"
            style="margin-left: 5rem; margin-top: -0.5rem;">Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies.
                Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex
                mi ut sem.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>
