<div class="row">
    <div class="col-sm-6 col-md-4">
        <a href="#" class="logo">
            <img src="/assets/images/logo.png" alt="">
        </a>
        <p class="introduce">Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies.
            Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex
            mi ut sem.</p>
        <p class="license">© 2020 Thomas K.Wilson, All rights reserved</p>
    </div>
    <div class="col-sm-12 col-md-4" style="text-align: center;">
        <p class="title__contact_us">Contact Us.</p>
        <div class="icon__contact_us">
            <i class="fas fa-envelope-square"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fas fa-phone-square"></i>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
    
    </div>
</div>